<h1>My Profile</h1>

<ul class="navigation">
    <li><a href="/index">Home</a></li>
    {{!-- <li><a href="/calculator">Calorie Calculator</a></li> --}}

</ul>

<div class="grid">
<section id="user-profile">
    <main>
    <h2>My Profile Information</h2>
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Goal: </strong>{{user.currentGoal}}</p>
    <p><strong>BMR: </strong>{{user.BMR}}</p>
    <p><strong>Activity Factor: </strong>{{user.activity_level}}</p>
    <p><strong>Estimated Caloric Needs:</strong>{{user.caloric_needs}}</p>
    <!-- Add more user-specific information here -->

    <h2>Edit Profile</h2>
    <form action="update_profile.html" method="POST">
        <label for="new-email">New Email:</label>
        <input type="email" id="new-email" name="new-email"><br>

        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="new-password"><br>

        <input type="submit" value="Update Profile">
    </form>
    </section>
    </main>
    <aside class="outputs">
        <h2 class="results">Your Results are:</h2>
        <section class="activity-level" id="activity-level">
            <h2>Your Activity Level</h2>
            <p id="calc-list">{{activityLevel}}</p>
        </section>
        </section>
        <section class="bmr" id="bmr">
            <h2>Your Basal Metabolic Rate: </h2>
            <p id="bmr-list">{{bmr}}</p>
        </section>
        <section class="goal">
            <h2>Your Daily Calories: </h2>
            <p id="goal-list">{{goalCalories}}</p>
        </section>
        <section class="macro">
            <h2>Macros</h2>
            <p id="macro-list"></p>
        </section>
    </aside>
</div>